{% extends template('adminlte') %}

{% block css %}
<style>
    .collapse-login {
        top: calc(100% - 5px);
        right: calc(0px + 1.25rem);
        z-index: 100;
        width: 200px;
    }
</style>
{% endblock %}

{% block js %}
<script>
    const ID = `{{ usuario.id }}`;
</script>
<script src="{{ public_file('ver.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">
                    <a class="mr-1 px-2" href="{{ BASE_URL }}/Usuarios/"> <i class="fas fa-angle-left fa-xs"></i> </a>
                    <span id="label-nombre-completo">{{ usuario.nombres }} {{ usuario.apellidos }}</span>
                </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/Usuarios/">Usuarios</a></li>
                    <li class="breadcrumb-item active">{{usuario.usuario|upper  }}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="px-3">
    <!-- DATOS - USUARIO DE RED -->
    {% if usuario.validar_red %}
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div class="card-title">Datos</div>
        </div>

        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-2 col-form-label py-0">Nombres</label>
                <div class="col-md-10">
                    <label class="col-form-label py-0 font-weight-normal">{{ usuario.nombres }}</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label py-0">Apellidos</label>
                <div class="col-md-10">
                    <label class="col-form-label py-0 font-weight-normal">{{ usuario.apellidos }}</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label py-0">Correo</label>
                <div class="col-md-10">
                    <label class="col-form-label py-0 font-weight-normal">{{ usuario.correo }}</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label py-0">Cargo</label>
                <div class="col-md-10">
                    <label class="col-form-label py-0 font-weight-normal">
                        {% if usuario.cargo is not empty %}
                            {{ usuario.cargo }}
                        {% else %}
                            <span class="text-muted">(Vacio)</span>
                        {% endif %}
                    </label>
                </div>
            </div>

            <div class="form-group row mb-0">
                <label class="col-md-2 col-form-label py-0">Departamento</label>
                <div class="col-md-10">
                    <label class="col-form-label py-0 font-weight-normal">
                        {% if usuario.departamento is not empty %}
                            {{ usuario.departamento }}
                        {% else %}
                            <span class="text-muted">(Vacio)</span>
                        {% endif %}
                    </label>
                </div>
            </div>
        </div>

        <div class="card-footer text-right position-relative">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-login">
                <i class="fas fa-sync-alt mr-1"></i> Actualizar con la red
            </button>
            <div class="collapse position-absolute collapse-login" id="collapse-login">
                <form class="card card-warning card-outline" id="form-datos">
                    <div class="card-header p-2">
                        <div class="card-title" style="font-size: 14px;">Mini login</div>
                    </div>
                    <div class="card-body p-2">
                        <div class="input-group input-group-sm mb-2">
                            <div class="input-group-append">
                                <div class="input-group-text" style="width: 30px;">
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control" name="usuario" placeholder="Usuario..." required value="{{ usuario.usuario }}">
                        </div>
                        
                        <div class="input-group input-group-sm">
                            <div class="input-group-append">
                                <div class="input-group-text" style="width: 30px;">
                                    <i class="fas fa-key"></i>
                                </div>
                            </div>
                            <input type="password" class="form-control" name="clave" placeholder="Contraseña..." required>
                        </div>
                    </div>
                    <div class="card-footer p-2 text-center">
                        <button type="button" data-toggle="collapse" data-target="#collapse-login" style="width: 80px; font-size: 14px;" class="btn btn-sm btn-outline-secondary">Cerrar</button>
                        <button type="submit" style="width: 80px; font-size: 14px;" class="btn btn-sm btn-primary">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% else %}

    <!-- DATOS - USUARIOS NORMALES -->
    <form class="card card-primary card-outline" id="form-datos">
        <div class="card-header">
            <div class="card-title">Datos</div>
        </div>

        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Nombres</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="nombres" placeholder="Nombres..." value="{{ usuario.nombres }}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">Apellidos</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="apellidos" placeholder="Apellidos..." value="{{ usuario.apellidos }}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">Correo</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="correo" placeholder="Correo..." value="{{ usuario.correo }}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">Cargo</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="cargo" placeholder="Cargo..." value="{{ usuario.cargo }}">
                </div>
            </div>

            <div class="form-group row mb-0">
                <label class="col-md-2 col-form-label">Departamento</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="departamento" placeholder="Departamento..." value="{{ usuario.departamento }}">
                </div>
            </div>
        </div>

        <div class="card-footer text-right position-relative">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-save mr-1"></i> Guardar
            </button>
        </div>
    </form>
    {% endif %}

    <!-- OTROS DATOS -->
    <form class="card card-primary card-outline" id="form-otros">
        <div class="card-header">
            <div class="card-title">Otros datos</div>
        </div>

        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Usuario</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" disabled placeholder="Usuario..." value="{{ usuario.usuario }}">
                </div>
            </div>

            {% if usuario.validar_red == '0' %}
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Contraseña</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" name="clave" placeholder="Contraseña...">
                </div>
            </div>
            {% endif %}
            
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Rol</label>
                <div class="col-md-10">
                    <select name="rol_id" class="form-control">
                        {% for rol in roles %}
                        <option {{ (usuario.rol_id == rol.id) ? 'selected' : '' }} value="{{ rol.id }}">{{ rol.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Activo</label>
                <div class="col-md-10">
                    <div class="custom-control custom-switch col-form-label">
                        <input type="checkbox" name="activo" {{ (usuario.activo) ? 'checked' : '' }} class="custom-control-input" id="switch-activo">
                        <label class="custom-control-label" for="switch-activo"></label>
                    </div>
                </div>
            </div>
            
            <div class="form-group row mb-0">
                <label class="col-md-2 col-form-label">Validar con la red</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" disabled value="{{ (usuario.validar_red) ? 'Si' : 'No' }}">
                </div>
            </div>
        </div>

        <div class="card-footer text-right">
            <button class="btn btn-primary">
                <i class="fas fa-save mr-1"></i> Guardar
            </button>
        </div>
    </form>
</div>
{% endblock %}