{% extends template('adminlte') %}

{% block css %}
<style>
    #estatus_gestion > option[disabled] {
        display: none;
    }
</style>
{% endblock %}

{% block js %}
<script src="{{ public_file('index.js') }}"></script>
{% endblock %}

{% block content %}
<div class="p-3">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div class="card-title">Gestión de Contacto – Banca Persona</div>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- FILA 1 -->
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Cedula</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <form class="input-group input-group-sm" id="form-search">
                                <input type="text" class="form-control" name="cedula" required placeholder="Cedula...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"> <i class="fas fa-search"></i> </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Celular</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="celular" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Gte. Bca. P.</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="gerente_banca_persona" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                
                <!-- FILA 2 -->
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Nombre</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="nombre" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Otro Telf</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="otro_telefono" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Gte. Jurídico</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="gerente_juridico" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                
                <!-- FILA 3 -->
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Segmento</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="segmento" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Correo</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="correo" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">VPR Jurídico</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="vpr_juridico" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>

                <!-- FILA 4 -->
                <div class="col-6">
                    <div class="form-group">
                        <label class="mb-1 text-primary">Vinculación Natural</label>
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-bordered table-striped mb-0 w-100" id="vinculacion-natural">
                                <thead>
                                    <tr>
                                        <th class="text-truncate">Producto</th>
                                        <th class="text-truncate">Prom. 3 meses</th>
                                        <th class="text-truncate">Saldo <span class="mes_1">X</span></th>
                                        <th class="text-truncate">Saldo <span class="mes_2">Y</span></th>
                                        <th class="text-truncate">Saldo <span class="mes_3">Z</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="dolar">
                                        <td>Cust. $</td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="euro">
                                        <td>Cust. Є</td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="corriente">
                                        <td>Cta. Cte</td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="ahorro">
                                        <td>Cta. Ahorro</td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label class="mb-1 text-primary">Vinculación Jurídica</label>
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-bordered table-striped mb-0 w-100" id="vinculacion-juridica">
                                <thead>
                                    <tr>
                                        <th class="text-truncate">Producto</th>
                                        <th class="text-truncate">Prom. 3 meses</th>
                                        <th class="text-truncate">Saldo <span class="mes_1">X</span></th>
                                        <th class="text-truncate">Saldo <span class="mes_2">Y</span></th>
                                        <th class="text-truncate">Saldo <span class="mes_3">Z</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="dolar">
                                        <td>Cust. $</td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="euro">
                                        <td>Cust. Є</td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="corriente">
                                        <td>Cta. Cte</td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="ahorro">
                                        <td>Cta. Ahorro</td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- FILA 5 -->
                <div class="col-12">
                    <label class="mb-1">Gestión Histórica</label>
                    <div class="table-responsive mb-3 w-100">
                        <table class="table table-sm table-bordered table-hover" id="tabla-gestion">
                            <thead class="table-primary">
                                <tr>
                                    <th class="text-truncate">Fecha de Asig.</th>
                                    <th class="text-truncate">Fecha de Gest.</th>
                                    <th class="text-truncate">Ejecutivo</th>
                                    <th class="text-truncate">Tipo Llamada</th>
                                    <th class="text-truncate">Tipo Gestión</th>
                                    <th class="text-truncate">Estatus Gestión</th>
                                    <th class="text-truncate">Comentario</th>
                                    <th class="text-truncate">Resolucion Comite</th>
                                    <th class="text-truncate">Fecha Comite</th>
                                    <th class="text-truncate">Membresia President</th>
                                    <th class="text-truncate">Fecha de pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="100">
                                        <h5 class="text-center mb-0 p-3">. . .</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="w-100 text-center">
                <button class="btn btn-primary" id="btn-nueva-gestion">Cargar Nueva Gestión</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL REGISTRO GESTION -->
<div class="modal fade" id="modal-registro-gestion">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
        <form class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="mb-0">Cargar nueva gestión</h5>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- FILA 1 -->
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Cedula</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="cedula" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Celular</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="celular" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Gte. Bca. P.</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="gerente_banca_persona" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    
                    <!-- FILA 2 -->
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Nombre</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="nombre" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Otro Telf</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="otro_telefono" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Gte. Jurídico</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="gerente_juridico" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    
                    <!-- FILA 3 -->
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Segmento</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="segmento" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Correo</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="correo" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">VPR Jurídico</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="vpr_juridico" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Fecha de asignación</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control" required name="fecha_asignacion">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Fecha de Gestión</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" disabled value="{{ NOW|date('d/m/Y') }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Ejecutivo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" disabled value="{{ USUARIO.nombres }} {{ USUARIO.apellidos }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Tipo de llamada</label>
                    <div class="col-md-9">
                        <select class="form-control" name="tipo_llamada" required>
                            {% for tipo in tipos_llamadas %}
                            <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Tipo de Gestión</label>
                    <div class="col-md-9">
                        <select class="form-control" name="tipo_gestion" id="tipo_gestion" required>
                            {% for tipo in tipos_gestion %}
                            <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Estatus de Gestión</label>
                    <div class="col-md-9">
                        <select class="form-control" name="estatus_gestion" id="estatus_gestion" required>
                            {% for estatus in estatus_gestion %}
                            <option value="{{ estatus.id }}" parent_id="{{ estatus.tipo_id }}">{{ estatus.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Comentario</label>
                    <div class="col-md-9">
                        <textarea class="form-control" name="comentario" cols="30" rows="3" placeholder="Comentario..."></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Resolución de Comité</label>
                    <div class="col-md-9">
                        <select class="form-control" name="resolucion_comite" required>
                            {% for row in resolucion_comite %}
                            <option value="{{ row.id }}">{{ row.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Fecha de comité</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control" name="fecha_comite" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Membresía President</label>
                    <div class="col-md-9">
                        <select class="form-control" name="membresia_president" required>
                            {% for row in membresia_president %}
                            <option value="{{ row.id }}">{{ row.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Fecha de pago</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control" name="fecha_pago" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" type="button" data-dismiss="modal" style="width: 100px;">
                    Cerrar
                </button>
                <button class="btn btn-primary" type="submit" style="width: 100px;">
                    Registrar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}