{% extends template('adminlte') %}

{% block css %}
<style>
    #estatus_gestion > option[disabled] {
        display: none;
    }
</style>
{% endblock %}

{% block js %}
<script>
    const USUARIO_ID = `{{ USUARIO.id }}`;
    const ELIMINAR_GESTION = {{ (PERMISOS.gestion_eliminar) ? 'true' : 'false' }}
</script>
<script src="{{ public_file('index.js') }}"></script>
{% endblock %}

{% block content %}
<div class="p-3">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div class="card-title">Gestión de Contacto – Banca President</div>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- FILA 1 -->
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Cedula</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <form class="input-group input-group-sm" id="form-search">
                                <input type="text" class="form-control" name="cedula" required placeholder="Cedula...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"> <i class="fas fa-search"></i> </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Nombre</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" name="nombre" data="nombre" class="form-control form-control-sm" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Segmento</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" name="segmento" data="segmento" class="form-control form-control-sm" disabled>
                        </div>
                    </div>
                </div>
                
                <!-- FILA 2 -->
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Segmento Membresía</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" name="segmento_membresia" data="segmento_membresia" class="form-control form-control-sm" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Grupo Vinculación</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" name="grupo_vinculacion" data="grupo_vinculacion" class="form-control form-control-sm" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Monto<br>UVC</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="number" step="0.01" min="0" name="monto_uvc" data="monto_uvc" class="form-control form-control-sm" disabled>
                        </div>
                    </div>
                </div>
                
                <!-- FILA 3 -->
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Gte. Bca. P.</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" name="gerente_banca_persona" data="gerente_banca_persona" class="form-control form-control-sm" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Gte. Jurídico</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" name="gerente_juridico" data="gerente_juridico" class="form-control form-control-sm" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">VPR Jurídico</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" name="vpr_juridico" data="vpr_juridico" class="form-control form-control-sm" disabled>
                        </div>
                    </div>
                </div>
                
                <!-- FILA 4 -->
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Celular</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" name="celular" data="celular" class="form-control form-control-sm" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Otro Telf</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" name="otro_telefono" data="otro_telefono" class="form-control form-control-sm" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Correo</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" name="correo" data="correo" class="form-control form-control-sm" disabled>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="collapse" id="collapse-editar">
                        <div class="alert alert-light mb-0">
                            <div class="text-right">
                                <button class="btn btn-sm btn-success" style="width: 125px;" id="btn-modificar-datos">
                                    Guardar datos
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 d-none">
                    <hr>
                </div>

                <!-- FILA 5 -->
                <div class="col-6 d-none">
                    <div class="form-group">
                        <label class="mb-1 text-primary">Vinculación Natural</label>
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-bordered table-striped mb-0 w-100" id="vinculacion-natural">
                                <thead>
                                    <tr>
                                        <th class="text-truncate">Producto</th>
                                        <th class="text-truncate">Prom. 3 meses</th>
                                        <th class="text-truncate">Saldo <span class="mes_1">X</span></th>
                                        <th class="text-truncate">Saldo <span class="mes_2">Y</span></th>
                                        <th class="text-truncate">Saldo <span class="mes_3">Z</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="100">
                                            <h5 class="text-center mb-0 p-3">. . .</h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-6 d-none">
                    <div class="form-group">
                        <label class="mb-1 text-primary">Vinculación Jurídica</label>
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-bordered table-striped mb-0 w-100" id="vinculacion-juridica">
                                <thead>
                                    <tr>
                                        <th class="text-truncate">Producto</th>
                                        <th class="text-truncate">Prom. 3 meses</th>
                                        <th class="text-truncate">Saldo <span class="mes_1">X</span></th>
                                        <th class="text-truncate">Saldo <span class="mes_2">Y</span></th>
                                        <th class="text-truncate">Saldo <span class="mes_3">Z</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="100">
                                            <h5 class="text-center mb-0 p-3">. . .</h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <hr>
                </div>

                <!-- FILA 6 -->
                <div class="col-12">
                    <label class="mb-1">Gestión Histórica</label>
                    <div class="table-responsive mb-3 w-100">
                        <table class="table table-sm table-bordered table-hover" id="tabla-gestion">
                            <thead class="table-primary">
                                <tr>
                                    <th class="text-truncate">Fecha de Asig.</th>
                                    <th class="text-truncate">Fecha de Gest.</th>
                                    <th class="text-truncate">Ejecutivo</th>
                                    <th class="text-truncate">Tipo Llamada</th>
                                    <th class="text-truncate">Tipo Gestión</th>
                                    <th class="text-truncate">Estatus Gestión</th>
                                    <th class="text-truncate">Resolucion Comite</th>
                                    <th class="text-truncate">Fecha Comite</th>
                                    <th class="text-truncate">Membresia President</th>
                                    <th class="text-truncate">Fecha de pago</th>
                                    <th class="text-truncate">Comentario</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="100">
                                        <h5 class="text-center mb-0 p-3">. . .</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="w-100 text-center">
                <button class="btn btn-primary" id="btn-nueva-gestion">Cargar Nueva Gestión</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL REGISTRO GESTION -->
<div class="modal fade" id="modal-registro-gestion">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
        <form class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="mb-0">Cargar nueva gestión</h5>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- FILA 1 -->
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Cedula</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="cedula" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Nombre</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="nombre" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Segmento</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="segmento" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    
                    <!-- FILA 2 -->
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Segmento Membresía</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="segmento_membresia" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Grupo Vinculación</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="grupo_vinculacion" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Monto<br>UVC</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="monto_uvc" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    
                    <!-- FILA 3 -->
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Gte. Bca. P.</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="gerente_banca_persona" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Gte. Jurídico</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="gerente_juridico" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">VPR Jurídico</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="vpr_juridico" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    
                    <!-- FILA 4 -->
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Celular</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="celular" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Otro Telf</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="otro_telefono" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Correo</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="correo" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Fecha de asignación</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control" name="fecha_asignacion">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Fecha de Gestión</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" disabled value="{{ NOW|date('d/m/Y') }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Ejecutivo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" disabled value="{{ USUARIO.nombres }} {{ USUARIO.apellidos }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Tipo de llamada</label>
                    <div class="col-md-9">
                        <select class="form-control" name="tipo_llamada" required>
                            {% for tipo in tipos_llamadas %}
                            <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Tipo de Gestión</label>
                    <div class="col-md-9">
                        <select class="form-control" name="tipo_gestion" id="tipo_gestion" required>
                            {% for tipo in tipos_gestion %}
                            <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Estatus de Gestión</label>
                    <div class="col-md-9">
                        <select class="form-control" name="estatus_gestion" id="estatus_gestion" required>
                            {% for estatus in estatus_gestion %}
                            <option value="{{ estatus.id }}" parent_id="{{ estatus.tipo_id }}">{{ estatus.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Comentario</label>
                    <div class="col-md-9">
                        <textarea class="form-control" name="comentario" cols="30" rows="3" placeholder="Comentario..."></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Resolución de Comité</label>
                    <div class="col-md-9">
                        <select class="form-control" name="resolucion_comite">
                            <option value=""></option>
                            {% for row in resolucion_comite %}
                            <option value="{{ row.id }}">{{ row.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Fecha de comité</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control" name="fecha_comite">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Membresía President</label>
                    <div class="col-md-9">
                        <select class="form-control" name="membresia_president">
                            <option value=""></option>
                            {% for row in membresia_president %}
                            <option value="{{ row.id }}">{{ row.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Fecha de pago</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control" name="fecha_pago">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" type="button" data-dismiss="modal" style="width: 100px;">
                    Cerrar
                </button>
                <button class="btn btn-primary" type="submit" style="width: 100px;">
                    Registrar
                </button>
            </div>
        </form>
    </div>
</div>

<!-- MODAL VER COMENTARIO -->
<div class="modal fade" id="modal-comentario">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <form class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="mb-0">Comentario</h5>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="id">
                <div class="form-group">
                    <label class="mb-1">Fecha de gestión</label>
                    <input type="date" name="fecha_gestion" disabled class="form-control">
                </div>
                <div class="form-group mb-0">
                    <label class="mb-1">Comentario</label>
                    <textarea class="form-control bg-white text-dark" name="comentario" cols="30" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" type="button" data-dismiss="modal" style="width: 100px;">
                    Cerrar
                </button>
                <button class="btn btn-primary" type="submit" style="width: 100px;">
                    Modificar
                </button>
            </div>
        </form>
    </div>
</div>

<!-- MODAL USUARIO NO ENCONTRADO -->
<!-- <div class="modal fade" id="modal-usuario-no-encontrado">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="mb-0">Cliente no encontrado</h5>
                <button class="close" type="button" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="mb-0">EL cliente <b>CI: <span data="cedula"></span></b> no ha sido encontrado. Desea registrar este cliente.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" style="width: 100px;" type="button" data-dismiss="modal">
                    Cerrar
                </button>
                <button class="btn btn-warning" style="width: 100px;" type="button" id="registrar-usuario">
                    Registrar
                </button>
            </div>
        </div>
    </div>
</div> -->

<!-- MODAL REGISTRO CLIENTE -->
<!-- <div class="modal fade" id="modal-registro-cliente">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
        <form class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="mb-0">Registro de cliente</h5>
                <button class="close" type="button" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Para continuar con el registro del nuevo cliente, complete los datos:</p>

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-1">Cedula</label>
                            <input type="number" class="form-control" name="cedula" placeholder="Cedula..." required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-1">Nombre</label>
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre..." required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-1">Segmento</label>
                            <input type="text" class="form-control" name="segmento" placeholder="Segmento..." required>
                        </div>
                    </div>
                    
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-1">Segmento Membresía</label>
                            <input type="text" class="form-control" name="segmento_membresia" placeholder="Segmento Membresía..." required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-1">Grupo Vinculación</label>
                            <input type="text" class="form-control" name="grupo_vinculacion" placeholder="Grupo Vinculación..." required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mb-0">
                            <label class="mb-1">Monto<br>UVC</label>
                            <input type="number" step="0.01" min="0" class="form-control" name="monto_uvc" placeholder="Monto UVC..." required>
                        </div>
                    </div>
                    
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-1">Gte. Bca. P.</label>
                            <input type="text" class="form-control" name="gerente_banca_persona" placeholder="Gte. Bca. P...." required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-1">Gte. Jurídico</label>
                            <input type="text" class="form-control" name="gerente_juridico" placeholder="Gte. Jurídico..." required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mb-0">
                            <label class="mb-1">VPR Jurídico</label>
                            <input type="text" class="form-control" name="vpr_juridico" placeholder="VPR Jurídico..." required>
                        </div>
                    </div>
                    
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-1">Celular</label>
                            <input type="tel" class="form-control" name="celular" placeholder="Celular..." required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-1">Otro Telf</label>
                            <input type="tel" class="form-control" name="otro_telefono" placeholder="Otro Telf...">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-1">Correo</label>
                            <input type="email" class="form-control" name="correo" placeholder="Correo..." required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" style="width: 100px;" type="button" data-dismiss="modal">
                    Cerrar
                </button>
                <button class="btn btn-primary" style="width: 100px;" type="submit">
                    Registrar
                </button>
            </div>
        </form>
    </div>
</div> -->

<!-- MODAL ELIMINAR GESTION -->
<div class="modal fade" id="modal-eliminar-gestion">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <form class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="mb-0">Eliminar registro de la gestión</h5>
                <button class="close" type="button" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="gestion_id">
                <p class="mb-0">
                    ¿Esta seguro que desea eliminar la gestión?<br>
                    Esta acción es irreversible.
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" style="width: 100px;" type="button" data-dismiss="modal">
                    Cerrar
                </button>
                <button class="btn btn-danger" style="width: 100px;" type="submit">
                    Eliminar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}