{% extends template('adminlte') %}

{% block css %}
<style>
    .vinculacion {
        min-height: 110px;
        height: 110px;
        max-height: 110px;
        overflow: auto;
    }
</style>
{% endblock %}

{% block js %}
<script src="{{ public_file('index.js') }}"></script>
{% endblock %}

{% block content %}
<div class="p-3">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div class="card-title">Gestión de Contacto – Centro de Atención Banca Persona</div>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- FILA 1 -->
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Cedula</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <form class="input-group input-group-sm" id="form-search">
                                <input type="text" class="form-control" name="cedula" required placeholder="Cedula...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"> <i class="fas fa-search"></i> </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Celular</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="celular" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Gte. Bca. P.</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="gerente_banca_persona" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                
                <!-- FILA 2 -->
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Nombre</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="nombre" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Otro Telf</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="otro_telefono" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Gte. Jurídico</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="gerente_juridico" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                
                <!-- FILA 3 -->
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Segmento</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="segmento" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">Correo</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="correo" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right">VPR Jurídico</label>
                        <div class="col-md-8 d-flex align-items-center">
                            <input type="text" data="vpr_juridico" class="form-control form-control-sm text-dark bg-light" disabled>
                        </div>
                    </div>
                </div>

                <!-- FILA 4 -->
                <div class="col-6">
                    <div class="form-group">
                        <label class="mb-1 text-primary">Vinculación Natural</label>
                        <div class="form-control vinculacion">
                            <div class="mb-2">
                                <i class="fas fa-flag mr-1" id="flag-natural-bs"></i> Cuentas en Bs (corriente o ahorro)
                            </div>
                            <div class="mb-2">
                                <i class="fas fa-flag mr-1" id="flag-natural-divisas"></i> Cuentas en Divisas (dólares o euros)
                            </div>
                            <div>
                                <i class="fas fa-flag mr-1" id="flag-natural-bi"></i> BI
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label class="mb-1 text-primary">Vinculación Jurídica</label>
                        <div class="form-control vinculacion">
                            <div class="mb-2">
                                <i class="fas fa-flag mr-1" id="flag-juridica-bs"></i> Cuentas en Bs (corriente o ahorro)
                            </div>
                            <div class="mb-2">
                                <i class="fas fa-flag mr-1" id="flag-juridica-divisas"></i> Cuentas en Divisas (dólares o euros)
                            </div>
                            <div>
                                <i class="fas fa-flag mr-1" id="flag-juridica-bi"></i> BI
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FILA 5 -->
                <div class="col-12">
                    <label class="mb-1">Gestión Histórica</label>
                    <table class="table table-sm table-bordered table-hover">
                        <thead class="table-primary">
                            <tr>
                                <th>Fecha</th>
                                <th>Ejecutivo</th>
                                <th>Tipo Llamada</th>
                                <th>Gestión</th>
                                <th>Tipo Gestión</th>
                                <th>Comentario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="100">
                                    <h5 class="text-center mb-0 p-3">. . .</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="w-100 text-center">
                <button class="btn btn-primary" id="btn-nueva-gestion">Cargar Nueva Gestión</button>
            </div>

            <div class="alert alert-light mb-0 mt-3">
                <div class="row">
                    <div class="col-4 font-weight-bold text-center">
                        <i class="fas fa-flag text-success mr-1"></i>
                        Abierta con saldo
                    </div>
                    <div class="col-4 font-weight-bold text-center">
                        <i class="fas fa-flag text-warning mr-1"></i>
                        Abierta
                    </div>
                    <div class="col-4 font-weight-bold text-center">
                        <i class="fas fa-flag text-danger mr-1"></i>
                        Sin el producto
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL REGISTRO GESTION -->
<div class="modal fade" id="modal-registro-gestion">
    <div class="modal-dialog modal-dialog-scrolalble modal-dialog-centered modal-xl">
        <form class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="mb-0">Cargar nueva gestión</h5>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- FILA 1 -->
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Cedula</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="cedula" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Celular</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="celular" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Gte. Bca. P.</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="gerente_banca_persona" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    
                    <!-- FILA 2 -->
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Nombre</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="nombre" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Otro Telf</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="otro_telefono" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Gte. Jurídico</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="gerente_juridico" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    
                    <!-- FILA 3 -->
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Segmento</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="segmento" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">Correo</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="correo" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right">VPR Jurídico</label>
                            <div class="col-md-8 d-flex align-items-center">
                                <input type="text" data="vpr_juridico" class="form-control form-control-sm text-dark bg-light" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" type="button" data-dismiss="modal" style="width: 100px;">
                    Cerrar
                </button>
                <button class="btn btn-primary" type="submit" style="width: 100px;">
                    Registrar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}