{% extends template('login') %}

{% block js %}
<script>
    const IR_A = `{{ (ir_a != null) ? ir_a : '' }}`;
</script>
<script src="{{ public_file('index.js') }}"></script>
{% endblock %}

{% block content %}
<div class="login-box">
    <div class="card">
        <div class="card-header text-center bg-primary">
            <a href="{{ BASE_URL }}" class="h5">
                {{ SISTEMA.NOMBRE }}
            </a>
        </div>
        <div class="card-body login-card-body">
            <p class="login-box-msg">Iniciar sesión</p>
  
            <form id="form-login">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Usuario..." required name="user">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Contraseña..." required name="pass">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="collapse" id="login-errors">
                    <div class="alert alert-danger py-2 px-3">
                        <button type="button" class="close" data-toggle="collapse" data-target="#login-errors">&times;</button>
                        <div id="login-errors-label"></div>
                    </div>
                </div>
                
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
      </div>
      <div class="card-footer text-left py-2 text-muted">
          v{{ SISTEMA.VERSION }}
      </div>
      <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
{% endblock %}